
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10px;
    background: lightblue;
    color: white;
}

.nav .nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}